#button {
    text-align: center;
}

#cat {
    position: absolute;
    top: 50%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#animate,
#animate2,
#animate3,
#animate4,
#animate5 {
    position: absolute;
    height: 6vw;
    width: 6vw;
}

#animate2 {
    left: -5px;
}