#button {
    text-align: center;
}

#cat {
    position: absolute;
    top: 50%;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
}

.kitty {
    height: 6vw;
    width: 6vw;
    position: absolute;
}